body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.catalogo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.descripcion {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

.precio {
    font-size: 20px;
    color: #E74C3C;
    font-weight: bold;
    margin: 10px 0;
}
