
        body {
            font-family: Arial, sans-serif;
        }

        header {
            text-align: center;
            background-color: #ff0000;
            color: #fff;
            padding: 20px 0;
            margin-bottom: 20px;
        }

        .header-title {
            font-size: 2.5em;
            font-weight: bold;
        }

        .subheader {
            font-size: 1.2em;
        }

        .catalogo-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .producto {
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            width: 200px;
            text-align: center;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
        }

        .producto:hover {
            transform: scale(1.05);
        }

        .producto img {
            max-width: 100%;
            border-radius: 10px;
        }

        .precio {
            font-size: 20px;
            color: #ff0000;
            margin: 10px 0;
        }

        .descripcion {
            font-size: 16px;
            color: #000;
        }
    
