body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffc0cb; /* Fondo rosado para toda la página */
}

.header {
    background-image: url('https://juannahual.github.io/estilocssappsheet/header2.png');
    background-size: cover;
    background-position: center;
    height: 70vh; /* Ajusta esta altura según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.header-content {
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente para mejor legibilidad */
    padding: 20px;
    border-radius: 10px;
}

.header-title {
    font-size: 2.5em;
    font-weight: bold;
}

.subheader {
    font-size: 1.2em;
}

.catalogo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    flex-grow: 1;
}

.producto {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: calc(33.333% - 20px); /* 3 cards per row with some margin */
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    flex-shrink: 0;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    border-radius: 10px;
}

.descripcion {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
}

.precio {
    font-size: 24px;
    color: #ff0000;
    margin: 10px 0;
    font-weight: bold;
}

footer {
    background-color: #8a2be2; /* Fondo violeta */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .contacto {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer .contacto a {
    color: #fff;
    text-decoration: none;
}

footer .contacto a:hover {
    color: #ff0000;
}

footer .redes-sociales {
    margin-top: 10px;
}

footer .redes-sociales a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

footer .redes-sociales a:hover {
    color: #ff0000;
}

footer .direccion {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
}

